body {
  background-color: grey;
  font-family: Century Gothic;
  color: black;
}

.scroll-links {
  color: black;
}

.h1 {
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  color: white;
}

.h2 {
  font-size: 50px;
  margin-top: 200px;
  padding-bottom: 40px;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  font-style: normal;
}

.img1 {
  display: block;
  width: 100vw;
  margin: auto;
}

.p {
  font-size: 30px;
  padding-left: 50px;
  padding-top: 40px;
  text-indent: 60px;
}

.black-background {
  background-color: black;
  color: white;
  font-style: italic;
}

.portrait-border {
  width: 30%;
  display: block;
  margin: auto;
  border-radius: 100%;
  text-align: right;
}

.header-border {
  border-style: dotted;
  background-color: silver;
  font-weight: bold;
}

.img2 {
  margin-top: 50px;
}

.white-header {
  margin-top: 0px;
  background-color: white;
  color: black;
}
.contact-header{
  margin-top:100px;
  text-decoration:underline;
  font-weight:bold;
}

.icon{
  margin-left:100px;
  margin-top:30px;
  padding-top:15px;
}
