body {
  background-color: grey;
  font-family: Century Gothic;
  color: black;
}

.scroll-links {
  color: black;
}

.navbar{
  display: flex;
  justify-content: space-evenly;
  background-color: silver;
  padding: 0 5em 0 5em;
}

.name{
  
}

.nav-item{
  font-weight: bold;
  border-style: dotted;
  padding:auto;
}

.h1 {
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  color: white;
}

.about_title {
  font-size: 50px;
  margin-top: 50px;
  padding-bottom: 40px;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  font-style: normal;
}

.img1 {
  display: block;
  width: 100vw;
  margin: auto;
}

.p {
  font-size: 30px;
  padding-left: 50px;
  padding-top: 40px;
  text-indent: 60px;
}

.black-background {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 1em 0 2em 0;
}

.portrait-border {
  width: 300px;
  display: block;
  margin: auto;
  border-radius: 100%;
}

.img2 {
  margin-top: 50px;
}

.project_title {
  font-size: 50px;
  margin-top: 50px;
  padding-bottom: 40px;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  font-style: normal;
  margin-top: 0px;
  background-color: white;
  color: black;
  padding: 1em 0 1em 0;
}

.contact-header{
  margin-top:100px;
  text-decoration:underline;
  font-weight:bold;
}

.icon{
  margin-left:100px;
  margin-top:30px;
  padding-top:15px;
}
